body {
  font-family: "Lato", sans-serif;
  background-image: url(../img/fondo.svg);
  color: #F2E7DC;
}

.wrapper{
	margin-left: 2%;
	margin-right: 2%;
}

@media(min-width: 768px){
	.wrapper{
		max-width: 950px;
		margin-left: auto;
		margin-right: auto;
	}
}

.nav-link {
  color: aliceblue;
}

.btn-navLink {
  border-radius: 2px solid #f2f2f2;
}

.imgHeader {
  max-height: 95vh;
  width: 100vw;
  border-bottom: 0.8rem wave #f2f2f230;
}

.imgMe{
	position: relative;
	top: -10%;
}

@media (max-width: 768px) {
  .imgMe {
    height: 60vh;
		max-width: 100%;
  }
}

.text-bold{
	font-weight: 900;
}